<%- include('./partials/header.ejs') %>

<h3>Welcome to ez-buy</h3>

<p> <%= message %> </p>

    <a class="subtags" href="/products">See all products here !!</a>
    <br>
    <img class="ez-buy" src="https://i.imgur.com/PTXljpQ.png" alt="">




<%- include('./partials/footer.ejs') %>
