body {
  /*background-image: url('https://www.publicdomainpictures.net/pictures/310000/nahled/floral-wallpaper-background-1569424634uYU.jpg');
  background-size: cover;*/
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  background-color: lightsteelblue;
  /* color: #ECF0F1; */
}
img {
  width: 20%;
  border-radius: 20px;
  margin: 1%;
  border: 1px solid black;
/*
  display: inline-block;
  vertical-align: top;
  justify-content: center;
  align-items: center; */
}
form {
  margin-top: 50px;
  width: 50%;
  display: inline-block;
  justify-content: center;
}
input, textarea {
  text-align: center;
}
footer {
  margin-top: 200px;
}
nav {
  margin-top: 50px;
}

.error-msg {
  background-color: red;
  color: white;
}

.successMessage {
  background-color: green;
  color: white;
}

.user-bio {
  margin-right: 200px;
  margin-left: 200px;
}

.form-group {
  padding-right: 10px;
}
