html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  background-color: #FFFFF0;
  /* footer height */
  margin-bottom: 60px;

}

form {
  /* margin-top: 10px; */
  width: 50%;
  display: inline-block;
  justify-content: center;
}
input, textarea {
  text-align: center;
}



.error-msg {
  background-color: red;
  color: white;
}

.successMessage {
  background-color: green;
  color: white;
}

.user-bio {
  margin-right: 200px;
  margin-left: 200px;
}

.form-group {
  padding-right: 10px;
}


/* Header */
header {
  margin-top: -50px;
  background-color: #ED5F77;

}

nav {
  padding-bottom: 7px;
  margin-top: 50px;
  text-align: justify;
  font-style: normal;
}

ul {
  list-style-type: none;
}

a {
  color: #FFFAF0;
}

.subtags {
  color: #ED5F77;
}

.homeRoute {
  float: left;
  margin-right: 450px;
  font-size:2em;
  color: #EA3470;
  margin-bottom: -200px;
  margin-top: -7px;
}

.restRoutes {
  float: right;
  font-size: 1em;
  margin-top: 30px;
}

.productImg {
  width: 50vh;
  height: 60vh;
  border-radius: 20px;
  margin: 1%;
  border: 1px solid black;

}

.ez-buy {
  width: 60vh;
  height: 60vh;
  border-radius: 20px;
}

.footerSetting {
  margin-bottom: 70px;
}

.productCard {
  min-width: 10vw;
  max-width: 30vw;
  margin: 5px;
  padding: 10px;
  text-align: left;
}

.square {
	display: inline-block;
	vertical-align: top;
	justify-content: center;
	align-items: center;
  margin-top: 50px;
  box-shadow: 5px 10px #ED5F77;
  margin-bottom: 70px;
}


.loggedInName  {
  margin-top: -50px;
  margin-left: 900px;
}

/* SHOW PAGE PRODUCT */

.description {
display: flex;
justify-content: center;
align-items: center;
text-align: left;
margin-left: 450px;
margin: auto 350px 50px 350px;
}

#description {
  border-radius: 15px;
  border: 1px solid lightgrey;
}


h6 {
  font-family: 'Cormorant Garamond', serif;
  font-size: 4em;
  /* color: #695F61; */
  margin-bottom: -5px;
}

h5 {
  font-family: 'Josefin Slab', serif;
  /* color: #695F61; */
}

.logout {
  color: #FFFFF0;
}
.price {
  width: 17vh;
  height: 2vw;
  background-color: #FFFAF0;
  border-radius: 25px;
}


.table {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid black;
  text-align: left;
}

.total {
  width: 1  0%;
}

.totalAmount {
  margin-left: 220px;
}

.btn {
  border-radius: 10px;
}

.add {
  margin-bottom: -50px;

  margin-left: 160px;
}

.reviews {
  text-align: left;
  margin-top: 50px;
  margin-left: 470px;
  width: 50%;
}

.updatebtn {
  float: right;
  margin-right: 200px;
}

.btndelete {
  float: left;
  margin-left: 200px;
}

/* View Profile */
.profile {
  text-align: left;
  margin-left: 200px;
  margin-bottom: 50px;

}

td {
  padding: 10px;
}

.deleteProfile {
  margin-top: 50px;
}

.update {
  color: blue;
}

/* checkout */
.purchasebtn {
  margin-top: 50px;
  margin-left: 50px;
}

#review {
  color: darkgoldenrod;
  margin-top: 50px;
}

input.name {
  border-radius: 15px;
  border: 1px solid goldenrod;
}

textarea.text {
  margin-top: 10px;
  border-radius: 15px;
  border: 1px solid darkgoldenrod;
}


footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: #ED5F77;
  color: #FFFAF0;
  font-size: 1.5em;
  padding-top: 10px;
}
