body {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  /* background-color: peachpuff; */
  /* color: #ECF0F1;  #f2f2f2;*/
}

form {
  /* margin-top: 10px; */
  width: 50%;
  display: inline-block;
  justify-content: center;
}
input, textarea {
  text-align: center;
}
footer {
  margin-top: 200px;
}
nav {
  margin-top: 50px;
}

.error-msg {
  background-color: red;
  color: white;
}

.successMessage {
  background-color: green;
  color: white;
}

.user-bio {
  margin-right: 200px;
  margin-left: 200px;
}

.form-group {
  padding-right: 10px;
}


/* Header */
header {
  margin-top: -50px;
  background-color: #876F68;

}

nav {
  text-align: justify;
  font-style: normal;
}

a {
    color: #FFFAF0;
}

.subtags {
  color: #F8745D;
}

.homeRoute {
  float: left;
  margin-right: 450px;
  font-size:2em;
  margin-bottom: -30px;
  color: #EA3470;
}

.restRoutes {
  float: right;
  font-size: 1em;
}

.productImg {
  width: 50vh;
  height: 60vh;
  border-radius: 20px;
  margin: 1%;
  border: 1px solid black;

}

.productCard {
  min-width: 10vw;
  max-width: 30vw;
  /* background-color: mistyrose; */
  margin: 5px;
  padding: 10px;

}

.square {
	display: inline-block;
	vertical-align: top;
	justify-content: center;
	align-items: center;
  margin-top: 50px;
  box-shadow: 5px 10px #888888;
}

.loggedInName  {
  margin-top: -50px;
  margin-left: 900px;
}

h6 {
  font-family: 'Cormorant Garamond', serif;
}

h5 {
font-family: 'Josefin Slab', serif;
}

.price {
  width: 17vh;
  height: 2vw;
  background-color: #FFFAF0;
  border-radius: 25px;
}


.table {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid black;
}

.total {
  width: 30%;
}

.totalAmount {
  margin-left: 230px;
}

.btn {
  border-radius: 10px;
}

.add {
  margin-bottom: -50px;
  margin-left: 200px;
}

.reviews {
  text-align: left;
  margin-top: 50px;
  margin-left: 470px;
  width: 50%;
}

#review {
  color: darkgoldenrod;
}

input.name {
  border-radius: 15px;
  border: 1px solid goldenrod;
}

textarea.text {
  margin-top: 10px;
  border-radius: 15px;
  border: 1px solid darkgoldenrod;
}
