<%- include('../partials/header.ejs') %>

<h2> See you later! </h2>

<small>
	<a href="/auth/signup">Sign up (again)</a>
	|
	<a href="/products">Check this out! </a>
</small>

<%- include('../partials/footer.ejs') %>