<%- include('../partials/header.ejs') %>

  <h3>Upload a picture here!</h3>

  <form action="/products" method="POST" enctype="multipart/form-data">

    <fieldset>
    <div class="form-group">

      <label for="title">Title</label>
      <input
      type="text"
      class="form-control"
      id="title"
      name="title"
      placeholder="Product title here..">

    </div>

    <div class="form-group">
      <label for="price">Price</label>
      <input
      type="number"
      class="form-control"
      id="price"
      name="price"
      placeholder="$">
    </div>

    <div class="form-group">
      <label for="description">Description</label>
      <br>
      <textarea
      name="description"
      rows="8" cols="73"
      id="description"
      placeholder="Say something about your product..">
      </textarea>

    </div>

    <div class="form-group">
      <label for="productImage">Upload picture</label>
      <input type="file" name="productImage"
      id="productImage" accept="image/png, image/jpeg">
    </div>

    </fieldset>

  <br>
    <button type="submit" class="btn btn-block btn-primary">Add new product</button>

    <br>
    <small>
    We'll never share your information with anyone else.
    </small>

  </form>


<%- include('../partials/footer.ejs') %>
